{{> navbar}}
<br/>

<h1>{{title}}</h1>

        <div class="product_card">
            {{product.id}}<br/>
            {{product.title}}<br/>
            {{product.price}}<br/>
            <img src="{{product.thumbnail}}" class="product-img"/>
        </div>
<br/>
{{> footer}}
<br/>